body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background:rgb(217,217,217);

}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
header
{	
	margin-bottom: 20px;
	padding-bottom: 0px;
	background: white;
	border-radius: 10px 0px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
h1
{	
	font-size:40px;
	text-decoration: underline;
	border: 4px black solid;
	margin: auto;
	padding: 5px 5px 5px 5px;
}

#corps
{	
	display: flex;
	flex-direction: row;
}

nav ul
{	
	font-size: 30px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width:200px;
	border-radius: 0px 10px 10px 0px;
	list-style-type: none;
	background: rgb(50,100,150);
	color:white;
	
}

li
{
	padding-bottom: 20px;
}

section
{	
	font-size: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#temphum
{
	width:50%;
	display: flex;
	flex-direction: column;

}

#IClum
{
	width: 50%;
	display: flex;
	flex-direction: column;
}

#Température
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0px 5px 5px 10px;
 	height:50%;
 	background:rgba(244,176,132,1);
 	border-radius: 10px 10px 10px 10px;
}

#Humidité
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:5px 5px 0px 10px;
 	height:50%;
 	background: rgba(142,169,219,1);
 	border-radius: 10px 10px 10px 10px;
}

#IndiceDeChaleur
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0px 5px 5px 5px;
 	height:50%;
 	background:rgba(169,208,142,1);
 	border-radius: 10px 10px 10px 10px;
}

#Luminosité
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:5px 5px 0px 5px;
 	height:50%;
 	background: rgba(255,217,102,1);
 	border-radius: 10px 10px 10px 10px;
}

#txt
{
	display: flex;
	flex-direction: row;
}

#Hum
{
	display: flex;
	flex-direction: row;
}


/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
footer
{
	background: rgb(50,120,180);
	color:white;
	margin-top: 10px;
	padding-bottom: 20px; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

a
{
	color:white;
}